*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: black;
    height: 80px;
    width: 100%;
    color: white;
}
label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 13px;
}
a.active,a:hover{
    background: rgb(255, 153, 0);
    transition: 0.5s;
    color: black;
    font-weight: bold;
}
.btncheck{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .btncheck{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.activer{
        background: rgb(255, 153, 0);
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{
    background: url("https://wallpapercave.com/dwp1x/wp3710553.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}